{% extends "auctions/layout.html" %}
{% load static %}
{% load render_partial %}
{% block title %}{{ title }}{% endblock %}
{% block nav %}{%  render_partial 'auctions:nav' %}{% endblock %}
   {% block css %}
    <style>
      @import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

      body{
        font-family: 'League Spartan', sans-serif;
      }
           h3{
             text-align: center;
             margin-top: 2rem;

         }
         .a-1{
             position: absolute;
             right: 10px;
         }

         #contint-div{
             margin-top: 100px;
             padding-left: 5px;
             position: relative;
         }
         .daler{
            border: 1px solid #9a989f;
            padding: 2px 5px;
            display: -webkit-inline-box;
            border-radius: 3px;
            cursor: context-menu;
            margin-bottom: 8px;
        }
        .daler-discription{
          margin-right: 23.5rem;
        }
        .input-text{
          outline: none;
          border: 1px solid #cdccce;
          border-radius: 3px;
          transition: all 0.3s ease-in-out;
          width: 30%;
          color: #0d6efd;
          font-size: 18px;
          line-height: 1.6;

        }
        .input-text:hover{
          border: 1px solid #37c2ff;
        }

        .input-text2{
          outline: none;
          border: 1px solid #cdccce;
          border-radius: 3px;
          transition: all 0.3s ease-in-out;
          /* width: 100%; */
          width: 33%;
          margin-bottom: 15px;
        }

        .input-text2:hover{
          border: 1px solid #37c2ff;
        }
        .input-number2{
          outline: none;
          border: 1px solid #cdccce;
          border-radius: 3px;
          transition: all 0.3s ease-in-out;
          width: 150px;
          color: #0d6efd;
        }
        .input-number2:hover{
          border: 1px solid #37c2ff;
        }
        #select-categore{
          transition: all 0.3s ease-in-out;
          border: 2px solid #cdccce;
          border-radius: 3px;
          outline: none;
          margin-right: 200px;
        }
        #select-categore:hover{
          border: 1px solid #37c2ff;
        }
        .div-display{
          display: flex;
          justify-content: center;
        }
        #btn-submit{
          color: #fff;
          padding: 5px;
          background-color: #0d6efd;
          border: 1px solid #cdccce;
          border-radius: 5px;
          transition: all 0.3s ease-in-out;
          margin-left: 10rem;
          margin-bottom: 10px;
          width: 44%;
          position: relative;
          left: 20.5rem;
        }
        #btn-submit:hover{
          background-color: #000000;
        }
        #form-creat{
          text-align: center;
        }
        #textarea-discription{
          width: 29rem;
          outline: none;
          transition: all 0.3s ease-in-out;
          border: 1px solid #cdccce;
          border-radius: 3px;
          color: #0d6efd;
        }
        #textarea-discription:hover{
          border: 1px solid #37c2ff;
        }
        #img-creat{
          position: absolute;
          width: 331px;
          bottom: 10px;
          left: 50px;
        }
        #id_descriptions{
          /* background-color: rebeccapurple; */
          color: #0d6efd;
          font-weight: bold;
        }
        #id_initial_price{
          border: solid 1px #9a989f;
          transition: all 0.3s ease;
          border-radius: 3px;
          margin: 3px;
          outline: none;
          color: #0d6efd;
          font-weight: bold;
        }
        #id_initial_price:hover{
          border: solid 1px #0d6efd;
        }
        #row-div{
          --bs-gutter-x: 0.5rem;
          position: absolute;
        }
        #imge-shop{
          width: 400px;
          height: 550px;
          top: 10rem;
          left: 4rem;
          position: relative;
        }
        #mx-auto2{
          border: 1px solid #a7a395;
          padding: 8px 15px;
          border-radius: 5px;
          margin: 10px 0;
          width: 30rem;
          position: relative;
          right: 20px;
        }
    </style>
    {% endblock %}

{% block body %}
   <div class="row" id="row-div">
     <img src="https://i.pinimg.com/564x/e1/80/30/e18030a74d80dcfc3b280af7cf35c2b3.jpg" alt="nat a imge" id="imge-shop">
                    <div id="mx-auto2" class="col-xl-4 col-lg-5 col-md-7 col-12 mx-auto ">
        <h3>Create Listing</h3>

        <div id="contint-div">
            <div>

              <form action="{% url 'auctions:create-list' %}" method="POST" id="form-creat">
              {% csrf_token %}
                     <div class="form-row" >
                         <p >title:</p><br>{{ form.title }}
                         {% for error in form.title.errors %}
                          <p style="color: red">{{ error }}</p>
                         {% endfor %}
                     </div>
              <br>
                   <div class="form-row">
                <div class="div-display">
                  <span>Chosse a category:</span>
                  <br>
                  <select name="categories" id="select-categore">
                {% for cat in category %}
                  <option value="{{ cat.title }}">{{ cat.title }}</option>
                {% endfor %}

                </select>
                </div>
                   </div>
              <br><br>
              <!-- <input type="text" placeholder="place your Discription"  name="" class="input-text2 input-discription"> -->
                   <div class="form-row">
                       <p>Discription:</p><br>
                  {{form.descriptions}}
                       {% for error in form.descriptions.errors %}
                          <p style="color: red">{{ error }}</p>
                       {% endfor %}
                   </div>
              <br>
                   <div class="form-row">
              <p class="daler">$</p>
              {{ form.initial_price }}
                       {% for error in form.initial_price.errors %}
                          <p style="color: red">{{ error }}</p>
                       {% endfor %}
                   </div>
              <br><br>
                   <div class="form-row">
              <p>Imge URL:</p><br>
                  {{form.image_url}}
                       {% for error in form.image_url.errors %}
                          <p style="color: red">{{ error }}</p>
                       {% endfor %}
                   </div>
              <br>

            </form>
          </div>
        </div>
        
      </div>
      <input type="submit" value="submit" id="btn-submit">
   </div>
    {% endblock %}

